{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Seymour+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles-home.css' %}">

    <title>PyPiePie</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav-button"><a href="{% static 'assets/Tutorials.png' %}">Tutorials</a></li>
            <li class="nav-button"><a href="{% static 'assets/Leaderboard.png' %}">Leaderboard</a></li>
            <li class="nav-button"><a href="{% static 'assets/FAQS.png' %}"><a href="faqs" class="btn">FAQS</a></a></li>
        </ul>
    </nav>
    <br>
    <div>
        <p>LET'S HAVE SOME FUN</p>
    </div>
    <a href="level" class="btn">
    <center>
        <button class="start-button" role="button">
            <span class="start-button-shadow"></span>
            <span class="start-button-edge"></span>
            <span class="start-button-front text">
                START
            </span></button></a>
    </center>
</body>

</html>
